<div class="container">
    <div class="container">
        <h3>ADD NEW PATIENT</h3>
        <%= render "form" %>
        <br>
        <%= link_to 'Patients', patients_path, class: "btn btn-primary float-end"%>
    </div>
</div>